
body{
    overflow-x: hidden;
}
@media(max-width:500px) {
   
}

.contacts {
    font-size: 4vh;
    text-align: center;
}

.contacts>a {
    margin: 0 2vw;
}
.bi-Hover{
    color: var(--primary-text);
    opacity: 0.8;
}
.bi-Hover:hover {
    transition: all 200ms;
    color: var(--primary-text);
    opacity: 1;

}
#contact{
    height: max-content;
    width: max-content;
}