:root {
    --primary-text: white;
    --elegance: rgb(39 39 39);
    --primary-theme: #a6c;
    --card-bg: #37474f;
    --primary-bg: #1c2331;
    /* --card-bg: #ffffff; */
}

#query {
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    width: 60%;
}

#query:focus {
    border-bottom: 1px solid var(--primary-theme);
}

/* scollbar */
::-webkit-scrollbar {
    background-color: var(--elegance);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-theme);
}

::-webkit-scrollbar-track {
    color: transparent;
}


body {
    color: var(--primary-text);
    font-family: Segoe UI;
    background-color: var(--primary-bg);
    transition: all 1s;
}

.btn-1 {
    background: var(--primary-theme);
    color: white;
    text-decoration: none;
    opacity: 1;
    padding: 0.5vh 1.8vw;
    border-radius: 2px;

}

.btn-1:hover {
    color: white;
    transition: 0.5s;
    box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
}

#searchbar {
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent
}

#theme {
    font-size: larger;
    color: var(--primary-text);
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-item>img {
    height: 75vh;
}

.card, .slider-quote {
    background-color: var(--card-bg);
    color: inherit;
    box-shadow: 6px 10px 12px 2px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 6px 10px 12px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 6px 10px 12px 2px rgba(0, 0, 0, 0.65);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.aboutme, #latestpost {
    border: thin solid var(--primary-text);
    border-right: none;
    border-left: none;
    padding: 2vh 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

#latestpost {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-icons {
    font-size: 4vh;
    border-radius: 100%;
    color: var(--primary-text) !important;
    padding: 2vh;
    margin: 0 1vh;
}


#mail {
    font-size: 4vh;
    border-radius: 100%;
    color: white;
    padding: 2vh;
    margin: 0 1vh;
    background-color: #3b5998;

}

.nav-link {
    color: var(--primary-text) !important;
}

.btn-close-primary, .text-user-primarytext {
    color: var(--primary-text) !important;
}

p>a {
    text-transform: capitalize;
    border-bottom: thin solid rgba(133, 130, 130, 0.493);
}

.link {
    border-bottom: thin solid rgba(255, 255, 255, 0.336);
}

.blog-image>img {
    height: 75vh;
}


#AlertMessage {
    position: fixed;
    width: 50%;
    z-index: 110;
    top: 2px;
    right: 2px;
    animation: messageEntery;
    animation-duration: 0.5s;
}

@keyframes messageEntery {
    from {
        transform: translateX(10vw);
    }
}

.modal-title>h5 {
    font-family: Merriweather;
    font-weight: 400;
}

.modal-dialog {
    width: 90% !important;
}

.offcanvas {
    z-index: 100 !important;
}

@media (max-width:550px) {
    .blog-image>img {
        height: 50vh;
    }
    .offcanvas{
        z-index: 1045!important;
    }
    #AlertMessage {
        position: fixed;
        width: 100vw;
        z-index: 75;
        top: 0vh;
        left: 0;
        right: 0;
        animation: messageEntery 0.5s steps(10);
        transition: cubic-bezier(.09, .31, .94, .8);
    }

    #slider-img {
        height: 90vh !important;
    }

}

.navbar-nav>li>a {

    transform: scaleX(1.2);
    transform: scaleY(1.1);

}

footer {
    /* background-image: url('static/images/wave.svg'); */
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.badge {
    color: var(--primary-text) !important;
}

whr {
    display: inline-block;
    width: 100%;
    background-color: var(--primary-text);
    border: thin solid var(--primary-text);
    opacity: 0.5;
}

.badge-Theme-Primary {
    background-color: var(--primary-theme);
    color: white !important;

}

.btn-user-primary {
    background-color: var(--primary-theme);
    color: white !important;
}

.text-user-primary {
    color: var(--primary-theme);
    background-color: transparent;
    opacity: 0.5;

}

.text-user-primary-100 {
    color: var(--primary-theme);
    background-color: transparent;
    opacity: 1;
}

.text-user-primary-100:hover {
    color: var(--primary-theme);
    background-color: transparent;
}

.text-user-primary:hover {
    color: var(--primary-theme);
    background-color: transparent;
    opacity: 1;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer !important;
}

label {
    color: var(--primary-text);
}

.text-user {
    color: rgba(var(--primary-text), 0.65);

}

.Hover2 {
    color: var(--primary-text);
    font: 12px Montserrat;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    max-width: max-content;
    display: block;
    text-align: left;
    margin: 10px 0;
    position: relative;
    padding-right: 13%;
    width: max-content;
    border-radius: 0.5vh;
}

.Hover2:before {
    content: ">>";
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: var(--primary-text);
    font-size: 20px;
    width: 40px;
    height: 100%;
    line-height: 31px;
    text-align: center;
    font-family: consolas;
    padding-right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.Hover2:hover:before {
    padding-right: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.Hover2:hover {
    text-decoration: underline;
    text-decoration-color: var;
    color: var(--primary-text);
}

body::selection {
    background-color: rgba(var(--primary-theme), 0.8) !important;
    color: var(--primary-text) !important;
}

.form-control-plaintext::placeholder {
    color: var(--primary-text);
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
}

.form-control-plaintext {
    border-bottom: thin solid var(--primary-theme);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-text);
}

.form-control-plaintext:focus {
    outline: none;
}

.form-group>label {
    color: var(--primary-theme);
    font-size: larger;
    text-transform: uppercase;
}
.form-floating>label{
    color:var(--primary-theme)!important;
}
.form-control:placeholder{
    color: var(--primary-theme)!important;
}

#eye>.bi {
    transition-delay: 1ms;
    transition-duration: 3ms;
}

.logo-part1,
.logo-part2 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3vh;
    font-weight: 400;
    font-size: 3vh;
    width: auto;
}

.logo-part2 {
    background-color: var(--primary-text);
    color: var(--card-bg);
    padding: 0 2px;
}
.not-visible{
    visibility: hidden;
}

#chatBot{
    position: fixed;
    bottom: 5vh;
    right: 2vh;
}