# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script run when pyinstaller
#  builds your executable.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translation files
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
DataBase/
staticfiles/

# Virtual environments
.venv/
venv/
ENV/
env/
Active/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files & backups
.DS_Store
Thumbs.db
db.*
*.bak
*.tmp
*.log

# Environment variables / Secret files
.env
.env.*
.env*.local
