/* page loader */

:root{
    --peace: white;
    /* motivated by peace */
    --elegance: rgb(39 39 39);
    --loyality:#1de1ff;
    /* intimacy , loyality ,confidance */
    --power:red;
    /* motivated by power */
    --intimacy:blue;
    /* motivated by intimacy , loyality ,confidance */
    --youth:#9a9ad6;
    /* youth */
}
body{
    overflow: hidden;
}
#loader{
    background-color: var(--elegance);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#wrapper>span{
    margin: 4vh 0;
}
#wrapper{
    cursor: pointer;
    font-size: larger;
    position: relative;
    height: max-content;
    width: max-content;
    padding-bottom: 0.5vh;
    text-transform: uppercase;
    user-select: none;

}
#logo-part1{
    color: white;
}
#small-loader{
    border: thin solid white;
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: small-loader;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
@keyframes small-loader {
    0%{
        left: 0%;

    }
    50%{
        left: 75%;
    }
    100%{
        left: 0%;
    }
    
}