{% extends 'base_layout.html' %}
{%load static%}
{% block content %}
<div class="container my-3">
    <h3 class="py-3">All Blog Posts <i class="bi bi-folder2-open"></i></h3>
    <div class="row" id="Blogs">
        {% for post in posts%}
        <div class="col-lg-6 col-sm-6 col-12 my-lg-3 my-sm-3 my-2 ">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src={{post.image.url}} alt={{post.title|safe}} style="max-height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title|safe}}</h5>
                        <whr />
                        <p class="card-text"></i>{{post.summary|truncatewords:40|safe}}</p>
                        <span class="tags my-2 d-flex  flex-wrap  justify-content-start ">
                            {%for tag in post.tags.all%}
                            <a href="search?query={{tag}}"
                                class="badge badge-Theme-Primary bi bi-tag-fill w-auto my-1 mr-2"> {{tag}}</a>
                            {%endfor%}
                        </span>
                        <span class="my-auto d-flex justify-content-between pt-2">
                            <span class="bi bi-eye-fill  my-auto"
                                style="font-size: medium;opacity: 0.9; cursor: default;" title='{{post.views}} views'
                                data-toggle="tooltip" data-placement="bottom">&nbsp;{{post.views}}</span>
                            <!-- Link -->
                            <a href={{post.slug}} class="Hover2">
                                Read more
                            </a>
                        </span>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-user">Last updated {{post.publish_date|date:'d M Y'}}</small>
                        <small class="text-user "><i class="bi bi-person-fill"></i> Author - {{post.author}}</small>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5 my-auto">
            <button class=" btn btn-user-primary" id="loadMoreBtn">Load More</button>
            <div class="col-12">
                <div id="spinner" class="spinner-grow spinner-grow-lg not-visible mb-4" role="status"
                    style="color: var(--primary-theme);">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="alert alert-primary text-center not-visible" role="alert" id="noMoreAlert">
                All Done ✔. No More Blogs To Load!
            </div>

        </div>
    </div>
</div>
{%endblock%}
{% block scripts %}
<script src={% static 'js/AllBlogs.js' %}></script>

{% endblock scripts %}