{% extends 'base_layout.html' %}
{%load static%}
{% block content %}
<div class="container my-3">
    <h3 class="py-3">All Blog Posts <i class="bi bi-folder2-open"></i></h3>
    <div class="row d-flex align-items-stretch" id="Blogs">
        {% for post in posts%}
        {%include 'card2.html'%}
        {%endfor%}
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5 my-auto">
            <button class=" btn btn-user-primary" id="loadMoreBtn">Load More</button>
            <div class="col-12">
                <div id="spinner" class="spinner-grow spinner-grow-lg not-visible mb-4" role="status"
                    style="color: var(--primary-theme);">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="alert alert-primary text-center not-visible" role="alert" id="noMoreAlert">
                All Done ✔. No More Blogs To Load!
            </div>

        </div>
    </div>
</div>
{%endblock%}
{% block scripts %}
<script src={% static 'js/AllBlogs.js' %}></script>

{% endblock scripts %}