{% extends 'base_layout.html' %}
{% load extras_filter %}
{% block content %}
{% load static %}
{% block index %}
<title>{{data.site_name}} | {{blog.title}} </title>
{% endblock index %}
{%block csslinks%}
<link rel="stylesheet" href={% static 'css/detailStyle.css' %}>
<style>

</style>
{%endblock csslinks%}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-capitalize" id="blog-title">{{blog.title}}</h2>
            <h6 class="float-left"><i class="bi bi-clock-history"></i> {{blog.publish_date|date:'d M,Y'}}</h6>
            <span class="text-capitalize float-right"><i class="bi bi-person-fill"></i>author - {{blog.author.first_name}}</span>
            <span class="float-right" style="font-size: medium;cursor: default;" title='{{post.views}} views'><i
                    class="bi bi-eye-fill"></i> {{blog.views}}&nbsp;|&nbsp;</span>

        </div>

    </div>
    <div class="row ">
        <div class="col-12 w-100 my-3">
            <div class="blog-image d-flex">
                <img src={{blog.image.url}} alt="" class="img-fluid mx-auto  my-3 ">
            </div>
            <div class="" id="body_content">
                {{blog.body|safe}}
            </div>
        </div>
        <br>
        <div class="col-12">
            {%for tag in blog.tags.all%}
            <a href="search?query={{tag}}" class="badge badge-Theme-Primary bi bi-tag-fill w-auto my-1 mr-2">
                {{tag}}</a>
            {%endfor%}
        </div>
    </div>
    <hr>
</div>

<div class="container mt-5">
    <p class="h6 ">
        Suggested Blogs -
    </p>
</div>

<div class="container mb-5 overflow-auto">

    <div class="row d-flex flex-nowrap flex-row" id="moreBlogs">
        {%for blog in moreBlogs %}
        <div class="col-lg-4 col-5 col-sm-5 my-3">

            <a href={{blog.slug}} class="position-relative">
                <img src="{{blog.image.url}}" class="img-bordered img-fluid img-thumbnail w-100 h-100"
                    alt="{{blog.title}}" title="{{blog.title}}" data-toggle="tooltip" data-placement="auto">
            </a>
        </div>
        {%endfor%}
    </div>
</div>
<!-- commnets -->
<div class="container py-2  mt-3" id="commentes">
    <span class="h5 ">Comments <i class="bi bi-chat-dots"></i> ({{comments.count}}) </span>
    <span class="text-center float-end font-weight-normal  text-capitalize ">comment and share if you found this
        article to be helpful!
    </span>
    <div class="row w-100 my-3 py-3 border-top border-bottom mx-0 py-0 ">
        <!-- if else for comment box -->
        {% if request.user.is_authenticated %}
        <div class="col-lg-2 col-sm-2 col-3 my-auto mx-auto text-center">
            <i class="bi bi-pencil-square" style="font-size: 4vh;"></i>
            <br>
            <small>write your comment</small>
        </div>

        <div class="col-lg-10 col-sm-10 col-9 mx-auto text-capitalize">

            <!-- <form action="/postComment" method="post"> -->
            <form hx-post="/postComment" hx-trigger="submit " hx-target="#comment_container" hx-swap="innerHTML">
                {% csrf_token %}
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" name="Postcomment" id="commandBox"
                        style="height: 100px" required></textarea>
                    <label for="commandBox">Comments</label>
                </div>
                <input type="hidden" name="PostSno" value="{{blog.id}}">
                <input type="hidden" name="PostSlug" value="{{blog.slug}}">
                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                <button type="submit" class=" btn btn-user-primary my-2">Post Comment</button>
            </form>

        </div>
        <!-- login if not to comment -->
        {% else %}
        <div class="col-lg-2 col-sm-2 col-3 my-auto mx-auto text-center">
            <i class="bi bi-person-x-fill" style="font-size: 6vh;"></i>
            <br>
            Login Required
            <br>
        </div>
        <div class="col-lg-10 col-sm-10 col-9 mx-auto text-capitalize text-center text-lg-left text-sm-left "
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <h4 class="text-center" style="font-size: 300;">In Order to write your comment you need to login first.
            </h4>
            <div class="login singup d-flex justify-content-center">
                <div class="userlogo  my-auto nav-item mx-1">
                    <a href="{%url 'handleLogin'%}" target="_blank"><button
                            class="btn btn-user-primary nav-link px-3 mx-0" type="submit"> Login <i
                                class="bi bi-box-arrow-in-right"></i></button></a>
                </div>
                <div class="userlogo  my-auto nav-item mx-1">
                    <a href="{%url 'singup'%}" target="_blank"><button class="btn btn-user-primary nav-link px-3 mx-0"
                            type="submit"> Singup <i class="bi bi-person-plus-fill"></i></button></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    
    </div>
<div class="container-lg  container-fluid " id="comment_container">
    <!-- comments made before -->
    {%include 'blog/comment.html'%}
</div>

{% endblock %}
{% block scripts %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script src="{%static 'js/commentHandel.js'%}"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61a286a175bf78d5"></script>
{% endblock scripts %}