{% extends 'base_layout.html' %}
{% load static %}
{%block csslinks%}
<link rel="stylesheet" href={% static 'css/style.css' %}>
<link rel="stylesheet" href={% static 'css/typed.css' %}>

{%endblock csslinks%}
{% block content %}

<div class="section1 ">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="container-fluid my-auto" id="carousel-continer"
            style="background-image:linear-gradient(to bottom, rgba(5, 26, 56, 0.75),
        rgb(12, 37, 62,0.75), rgb(24, 48, 68,0.75), rgb(39, 60, 73,0.75), rgb(55, 71, 79,0.75)),url('{{data.slider1.url}}');min-height: 100vh;">
            <div class="row">
                <div class="col-12 mt-lg-5 text-center">
                    <h1 class="text-capitalize py-lg-2 py-sm-2 py-2 mt-5">hello {% if user.is_authenticated %}
                        <span class="font-weight-bold"><b style="color:whitesmoke;">{{user.first_name}}</b>,
                        </span>
                        {% else %}
                        there,
                        {% endif %}<br>welcome to {{data.site_name}}.
                    </h1>
                    <h4>My self <span><a href="{{data.Socail}}" target="_blank"
                                rel="noopener noreferrer" class="link">{{data.mine_name}}</a>.</span></h4>
                    <p id="typedTextP" class="mt-2">I Am <span class="typed-text"></span><span
                            class="cursor">&nbsp;</span></p>
                    <br>
                    <h5 class="text-white mx-auto my-lg-5 font-weight-lighter slider-quote" id="quote"><i
                            class="fa fa-quote-left text-light"></i>{{data.HomePage_qoute}} <i
                            class="fa fa-quote-right text-light"></i></h5>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="section2">
    <div class="container-fluid my-5">
        <div class="row ">
            <div class="col-lg-8 col-sm-8 col-12 order-lg-1 order-sm-1  py-2 order-3 ">

                <div class="card py-5 text-center">
                    <p class="card-header-tabs  text-capitalize mx-auto h3">What is {{data.site_name}}.</p>
                    <div class="card-body pb-0">
                        <p class="card-title px-lg-5 pb-2">I created {{data.site_name}} to share my experiences about
                            web
                            development, computer science, mathematics, and life. As well as sports, food, nature, and
                            tech, I am passionate about writing about these topics as well. </p>
                        <a href="{%url 'AllBlogs'%}" class="button-primary   text-capitalize">Browse all posts</a>

                    </div>
                </div>
                <div class="card py-5 mt-3 text-center order-2">
                    <h2 class="card-header-tabs font-weight-bolder text-capitalize mx-auto"></h2>
                    <div class="card-body">
                        <p class="card-title pb-2">
                            Please feel free to check out my <a href="https://www.instagram.com/sudarshan_kakde_/"
                                class="link" target="_blank" rel="noopener noreferrer">Instagram account </a> or connect
                            with me on <a href="https://linkedin.com/in/sudarshan-kakde-510b15194" target="_blank"
                                rel="noopener noreferrer" class="link">LinkedIn.</a> <br>
                            It's always exciting to work with like-minded people,<br>
                            let's discuss over <a href="https://www.buymeacoffee.com/sudarshankakde" target="_blank"
                                rel="noopener noreferrer" class="link">Coffee </a>.

                        </p>
                        <a href="https://github.com/sudarshankakde" target="_blank" rel="noopener noreferrer"
                            class=" p-2  mt-2 mb-0  text-capitalize icon-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-github">
                                <path
                                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                </path>
                            </svg></a>
                        <a href="mailto:sudarshankakde1111@gmail.com" target="_blank" rel="noopener noreferrer"
                            class=" p-2  mt-2 mb-0  text-capitalize icon-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-mail">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                </path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg></a>
                        <a href="https://instagram.com/sudarshan_kakde_" target="_blank" rel="noopener noreferrer"
                            class="p-2  mt-2 mb-0  text-capitalize icon-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-instagram">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                        <a href="{{data.Socail}}" target="_blank" rel="noopener noreferrer"
                            class="p-2  mt-2 mb-0  text-capitalize icon-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-link">
                                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 text-center  order-lg-2 order-sm-2 py-2 order-1">
                <div class="aboutme ">
                    <h5>ABOUT ME</h5>
                </div>
                <div class="card mx-auto my-3 py-3" style="width: 100%;">
                    <img src={{data.my_image.url}} class="card-img-top mx-auto my-auto w-75 shadow " alt="{{data.mine_name}}">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>{{data.mine_name}}</h4>
                        </div>
                        <hr>
                        <p class="card-text">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            {{data.About_me|safe}} <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>
                        <a href="{%url 'aboutme'%}" class="button-primary px-2">
                            More About Me
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section3">
    <h2 class="mx-3" id="latestpost"><i class="fa fa-clock"></i> Latest Posts.</h2>
    <div class="container-fluid mb-5">
        <div class="row d-flex align-items-stretch mx-auto">
            {%for post in posts.all%}
            {% include "card.html" %}
            {%endfor%}
        </div>
    </div>
    <!-- popular posts -->
    <h2 class="mx-3 text-capitalize" id="latestpost"><i class="fa fa-fire " style="color: #e25822;"></i> popular Posts.
    </h2>
</div>
<div class="container-fluid">
    <div class="row  d-flex align-items-stretch mx-auto">
        {%for post in PopularPosts.all%}
        {% include "card.html" %}

        {%endfor%}
    </div>
</div>

<div class="container mx-auto card mt-4" id="Subscribe" data-aos="flip-right">
    <div class="row ">
        <div class="col-11 mx-auto w-100 text-center p-lg-5 p-sm-5 py-5 ">

            <h3>Subscribe to my newsletter! </h3>
            <h6 class="mb-4">So that you never miss any update <i class="bi bi-envelope"></i></h6>

            <form hx-post="/subscription" hx-trigger="submit" hx-target="#parent-div" hx-swap="innerHTML"
                id="subscriptionForm">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email"
                        aria-describedby="basic-addon2" name="SubscriptionEmail" required>
                    <div class="input-group-append">
                        <button class="btn  btn-user-primary" type="submit">Subscribe <i
                                class="bi bi-bell-fill"></i></button>
                    </div>
                </div>
                <div id="parent-div" class="text-white-50"></div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('subscriptionForm').onsubmit = () => {
        document.getElementById('parent-div').innerHTML = `<div class="spinner-border text-user-primary-100" role="status">
  <span class="sr-only">Loading...</span>
</div>`;
    }
</script>
{% endblock content %}
{% block scripts %}


{% endblock scripts %}