{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="conatiner my-5 overflow-hidden " style="min-height:70vh;">
    <div class="row my-5">
        <div class="col-lg-6 col-sm-6 col-10 mx-auto">
            <p class="h5 text-center py-3">
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <form action="" method="post" class="mx-auto py-2">
                {%csrf_token%}
                <div class="form-group ">  
                    <input type="password" name="new_password1" class="form-control-plaintext ps-2 " placeholder="New password" required="">
                    
                </div>
                <div class="form-group ">  
                  
                    <input type="password" name="new_password2" class="form-control-plaintext ps-2 w-100" placeholder="New password confirmation" required="">
                </div>
                
                <div class=" w-100 text-center">
                    <button type="Submit" name="Send email" class="btn btn-user-primary my-3 px-4 ">Change my Password </button>
                </div>

            </form>
        </div>
    </div>
</div>
{%endblock%}