{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="conatiner my-5 overflow-hidden " style="min-height:70vh;">
    <div class="row my-5">
        <div class="col-lg-8 col-sm-8 col-10 mx-auto text-center">
            <p class="h5 text-center py-5">
                Your password has been set. You may go ahead and log in now.
            </p>
            <a href="{%url 'handleLogin'%}" class="btn btn-user-primary my-3 px-3">Login</a>
        </div>
    </div>
</div>
{%endblock%}