<!-- site_name,index(which page) -->
<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords"
        content="sids blog , sudarshan kakde blog , learn with sudarshan , learn with sid , sudarshan , sudarshan_kakde_ ">
    <meta name="base" content="sudharshankakde.pythonanywhere.com">

    {% block index %}
    <title>{{data.site_name}} | {{index}}</title>
    {% endblock index %}
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#C4D7E0">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#252627">
    <link rel="shortcut icon" href={%static 'images/sid.jpeg' %} type="image/x-icon" sizes="60*60">
    <!-- cdn's -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- css -->
    <!-- bootstrap -->
    <link rel="stylesheet" href={% static 'bootstrap-4.6.1-dist/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css' %}>

    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/loader.css' %}>
    {%block csslinks%}
    {%endblock csslinks%}
    <!-- JS -->
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src={%static 'bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src={%static 'bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}></script>
    <!-- aso -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,500i,600,600i|Playfair+Display:300,400,400i,500,500i,600,600i|Lobster:400,400i,500,500i,600,600i|Montserrat:400,400i,500,500i,600,600i'
        rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="description" content="Sudarshan Kakde Blogs , learn about python , web development and many more with me .
    ">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>

</head>

<body id="body" class="">
    <!-- #loading screen -->
    <div id="loader">
        <div id="wrapper">

            {%include 'Extra/logo.html'%}
            <i id="small-loader"></i>

        </div>
    </div>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg card-bg position-sticky top-0  z-10 ">
        <a class="navbar-brand text-uppercase" href="{%url 'home'%}">

            {%include 'Extra/logo.html'%}

        </a>
        <span class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#manubar" aria-controls="manubar">
            <i class="bi bi-list text-user-primarytext font-weight-bolder"></i>
        </span>
        <div class="offcanvas offcanvas-end z-1 " tabindex="-1" id="manubar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header card-bg">
                <a class="navbar-brand " href="#">
                    <a class="navbar-brand text-uppercase" href="home">
                        {%include 'Extra/logo.html'%}

                    </a>
                </a>
                <i class="bi bi-x-lg btn-close-primary opacity-100 px-3 " data-bs-dismiss="offcanvas"
                    aria-label="Close"></i>
            </div>
            <div class="offcanvas-body card-bg justify-content-between">
                <!-- links -->
                {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav align-items-center  gap-2 gap-lg-0 gap-sm-2">
                    <li class="nav-item ">
                        <a class="nav-link  Navlink {% if url_name == 'home' %}active{% endif %}"
                            href="{%url 'home' %}">Home </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link Navlink {% if url_name == 'blog' %}active{% endif %}"
                            href="{%url 'blog:AllBlogs' %}">Blog Post</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link Navlink {% if url_name == 'contact' %}active{% endif %}"
                            href="{%url 'contact' %}">Contact me</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link Navlink {% if url_name == 'aboutme' %}active{% endif %}"
                            href="{%url 'aboutme'%}">About me</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item ">
                        <a class="nav-link Navlink" href="{%url 'admin:index'%}">Admin Panel</a>
                    </li>
                    {%else%}
                    {%endif%}
                </ul>
                {% endwith %}
                <ul class="navbar-nav my-3 my-sm-3 my-lg-0  align-items-center ">
                    <li class="nav-item my-auto mx-1">
                        <form class="form-inline position-relative ms-auto" method="get" action="{% url 'search'%}"
                            id="searchForm">
                            <input type="text" class="form-control-plaintext ps-1 " id="" name="query"
                                placeholder="Search " aria-label="Search">
                            <span class=" my-auto position-absolute end-0 card-bg ps-1" onclick="submitForm()">
                                <i class="bi bi-search  pe-2 h6 cursor-pointer "></i>
                            </span>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-center d-flex  flex-row  ">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item my-auto mx-1">

                        <a href="/logout"><button class="btn btn-user-primary nav-link px-3 mx-0" type="submit">Logout
                                <i class="bi bi-door-open-fill"></i> </button></a>
                    <li class="nav-item my-auto mx-1">

                        {% else %}
                    <li class="nav-item my-auto mx-1">
                        <a href="{%url 'handleLogin'%}"><button class="btn btn-user-primary nav-link px-2 px-lg-3 mx-0"
                                type="submit"> Login <i class="bi bi-box-arrow-in-right"></i></button></a>
                    </li>
                    <li class="nav-item  my-auto mx-1">
                        <a href="{%url 'singup'%}"><button class="btn btn-user-primary nav-link px-lg-3 px-2 mx-0"
                                type="submit"> Sing Up <i class="bi bi-person-plus-fill"></i></button></a>
                    </li>
                    {% endif %}
                    <li class="nav-item my-auto mx-2">

                        <i class="bi bi-moon-stars-fill my-auto" id="ThemeIcon" onclick="changeTheme()"
                            style="cursor:pointer; font-size:x-large;"></i>
                        <input type="hidden" value="dark" id="theme">
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="progress" style="height: 3px; background-color: white;">
        <div class="indeterminate" style="background-color: var(--primary-theme);"></div>
    </div>



    <div id="AlertMessage-1 ">
        {%for message in messages %}
        {%if message.tags == "error"%}
        <div class="container-fluid alert bg-warning  fade show mx-auto" role="alert" id="AlertMessage1">
            {%elif message.tags == "success"%}
            <div class="container-fluid alert bg-primary-theme  fade show mx-auto" role="alert" id="AlertMessage1">
                {%else%}
                <div class="container-fluid alert  bg-danger fade show mx-auto" role="alert" id="AlertMessage1">
                    {%endif%}
                    <span>Message <i class="bi bi-bell-fill"></i></span>
                    <span class="float-end cursor-pointer" data-dismiss="alert" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </span>

                    <hr>
                    <div class="row">
                        <div class="col-12 text-capitalize">
                            {{message|safe}}
                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    {%block content%}
    {%endblock%}
    <!-- footer -->
    <footer class="mt-5 text-light ">
        <div class="container-fluid py-3" style="background-color: var(--primary-theme);">
            <div class="container d-none d-lg-block d-sm-block">
                <div class="row py-2 ">
                    <div class="col-lg-4 col-sm-4 col-0  ms-auto   my-3  my-lg-0 order-lg-1 order-0 order-sm-1">
                        <div class="d-flex flex-lg-nowrap flex-wrap gap-4 justify-content-center
                        justify-content-lg-end justify-content-sm-end">
                            <a href="https://github.com/sudarshankakde" class="socails" target="_blank"
                                rel="noopener noreferrer"><i
                                    class="bi bi-github p-2 rounded rounded-circle border "></i></a>
                            <a href="https://instagram.com/sudarshan_kakde_" class="socails" target="_blank"
                                rel="noopener noreferrer"><i
                                    class="bi bi-instagram p-2 rounded rounded-circle border"></i></a>
                            <a href="mailto:{{data.email}}" class="socails" target="_blank"><i
                                    class="bi bi-envelope p-2 rounded rounded-circle border"></i></a>

                            <a href="https://www.linkedin.com/in/sudarshan-kakde-510b15194" class="socails"><i
                                    class="bi bi-linkedin p-2 rounded rounded-circle border"></i></a>
                            <a href="{{data.Socail}}" class="socails"><i
                                    class="bi bi-link-45deg p-2 rounded rounded-circle border"></i></a>

                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-12  text-start my-2 my-lg-0 order-lg-0 order-1 order-sm-0">
                        <div
                            class="d-flex gap-3 flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-start justify-content-sm-start">
                            <a href="{%url 'Privacy_Policy'%}" class="footer-link text-capitalize">privacy policy</a>
                            <a href="{%url 'contact'%}" class="footer-link text-capitalize">Contact Me</a>
                            <a href="{%url 'aboutme'%}" class="footer-link text-capitalize">About me</a>
                            <a href="https://www.buymeacoffee.com/sudarshankakde" class="footer-link text-capitalize"
                                target="_blank">support me</a>
                            <a href="https://bio.link/sudarshan_kakde" class="footer-link text-capitalize"
                                target="_blank">Hire me</a>

                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">

                <div class="row text-center py-2 font-weight-light">
                    <div class="col-lg-8  col-sm-8 col-12 order-last order-lg-first order-sm-first">
                        <b class="float-lg-start  float-sm-start float-none font-weight-normal">
                            Copyright © {%now 'Y'%} {{data.site_name}}. <span class="font-weight-light">All rights
                                reserved.</span>

                        </b>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12 pb-3 pt-sm-0 pt-lg-0 order-first order-lg-last order-sm-last">
                        <b class="float-lg-end float-sm-end float-none font-weight-light">
                            Made with ❤️ by <a href="{{data.Socail}}" target="_blank"
                                class="font-weight-normal link">Sudarshan Kakde.</a>

                        </b>
                    </div>
                </div>
            </div>


        </div>
    </footer>

    <!-- js -->
    <script src={% static 'js/loader.js' %}></script>
    <script src={% static 'js/typed.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <!-- typed  -->
    <script src="https://unpkg.com/typeit@8.0.7/dist/index.umd.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- script -->

    <script>
        AOS.init();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        function submitForm() {
            document.getElementById('searchForm').submit();
        }
    </script>


    {% block scripts %}
    {% endblock scripts %}
    {% block scriptstyped %}
    {% endblock scriptstyped %}
</body>

</html>